# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Databases
# ==========================
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# ==========================
# Chroma Vector Database
# ==========================
chroma_db/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Streamlit Cache
# ==========================
.streamlit/cache/